@using DiansProject.DAL.Entities
@using DiansProject.DAL.Models
@model FeatureModel

<style>
    #map {
        height:800px;
        width:100%;
}

</style>

<table  class="table table-bordered" style="width:100%; display:inline-table; padding:0px; margin:0px; vertical-align: top;">
    <tbody>
        <tr>
            <td width=20% style="padding:0px; margin:0px; vertical-align: top;">
                <form asp-controller="Features" asp-action="Index">
                    <table  class="table table-bordered" style="width:100%; display:inline-table; padding:0px; margin:0px;">
                        <thead>
                            <tr>
                                <th width=20% style="">
                                    <h2>Filters</h2>
			                    </th>
		                    </tr>
	                    </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input class="form-control" asp-for="@Model.SearchParameters.SearchText" type="text" placeholder="Search by park name" value=@TempData.Peek("searchParameters.SearchText") />
                                    <span class="badge rounded-pill bg-opacity-50 bg-danger text-dark" asp-validation-for="@Model.SearchParameters.SearchText"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="badge bg-black" asp-for="@Model.SearchParameters.CapacityCount">Capacity count more than:</label>
                                    <input class="form-control" asp-for="@Model.SearchParameters.CapacityCount" type="number" value=@TempData.Peek("searchParameters.CapacityCount") />
                                    <span class="badge rounded-pill bg-opacity-50 bg-danger text-dark" asp-validation-for="@Model.SearchParameters.CapacityCount"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="badge bg-black" asp-for="@Model.SearchParameters.ParkingType:"> Parking Type: </label>
                                    <select class="form-select" asp-for="@Model.SearchParameters.ParkingType">
                                      <option value="0">All parking types</option>
                                      <option value="1">Car parking</option>
                                      <option value="2">Bicycle Parking</option>
                                    </select>
                                    <span class="badge rounded-pill bg-opacity-50 bg-danger text-dark" asp-validation-for="@Model.SearchParameters.ParkingType"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="badge bg-black" asp-for="@Model.SearchParameters.PaymentType:"> Payment Type: </label>
                                    <select class="form-select" asp-for="@Model.SearchParameters.PaymentType">
                                      <option value="0">All parking types</option>
                                      <option value="1">Free Parking</option>
                                      <option value="2">Paid Parking</option>
                                    </select>
                                    <span class="badge rounded-pill bg-opacity-50 bg-danger text-dark" asp-validation-for="@Model.SearchParameters.PaymentType"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="badge bg-black" asp-for="@Model.SearchParameters.AverageOverallRating">Overall rating more than:</label>
                                    <input class="form-control" asp-for="@Model.SearchParameters.AverageOverallRating" type="number" step="any" value=@TempData.Peek("searchParameters.AverageOverallRating") />
                                    <span class="badge rounded-pill bg-opacity-50 bg-danger text-dark" asp-validation-for="@Model.SearchParameters.AverageOverallRating"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="badge bg-black" asp-for="@Model.SearchParameters.AverageSafetyRating">Safety rating more than:</label>
                                    <input class="form-control" asp-for="@Model.SearchParameters.AverageSafetyRating" type="number" value=@TempData.Peek("searchParameters.AverageSafetyRating") />
                                    <span class="badge rounded-pill bg-opacity-50 bg-danger text-dark" asp-validation-for="@Model.SearchParameters.AverageSafetyRating"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="badge bg-black" asp-for="@Model.SearchParameters.AverageConditionsRating">Conditions rating more than:</label>
                                    <input class="form-control" asp-for="@Model.SearchParameters.AverageConditionsRating" type="number" value=@TempData.Peek("searchParameters.AverageConditionsRating") />
                                    <span class="badge rounded-pill bg-opacity-50 bg-danger text-dark" asp-validation-for="@Model.SearchParameters.AverageConditionsRating"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input style=" margin:5px; width:80%" class="btn btn-outline-primary" type="submit" value='Filter'/>
                </form>
                
			</td>
            <td style="padding:0px; margin:0px;" rowspan="3">
                <div id="map"></div>
			</td>
		</tr>
	</tbody>
</table>


<script>
    var map = L.map('map').setView([41.9981, 21.4254], 12);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        })
        .addTo(map);


    
    @foreach (var item in Model.Features)
    {
        <text>
            var marker = L.marker([@item.Geometry.Latitude, @item.Geometry.Longitude]).addTo(map);
            marker
            .bindPopup(
                "<div style='width:100%;' class='badge rounded-pill bg-light'>Latitude: @item.Geometry.Latitude</div> <br>" +
                "<div style='width:100%;' class='badge rounded-pill bg-light'>Longitude: @item.Geometry.Longitude</div> <br>" +
                "<div style='width:100%;' class='badge bg-warning'>Overall rating: @item.AverageOverallRating</div> <br>" +
                "<div style='width:100%;' class='badge bg-warning'>Safety rating: @item.AverageSafetyRating</div> <br>" +
                "<div style='width:100%;' class='badge bg-warning'>Conditions rating: @item.AverageConditionsRating</div> <br> <br>" +
                "<form action='Features/Details'mvc target='_blank'> <input type='hidden' name='Id' value='@item.Id' />  <input type='submit' value='View Details' class='btn btn-outline-primary' name='SubmitButton'/></form>"
            )
        </text>
    }
    
</script>